@keyframes toggleLeft {
  100% {
    // opacity: 0.5;
    transform: translateX(0rem);
  }
  75% {
    transform: translateX(-0.5rem);
  }
  50% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(0.5rem);
  }
  0% {
    // opacity: +1;
    transform: translateX(0rem);
  }
}

// element move leeft
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: +1;
    transform: translateX(0rem);
  }
}

// element move right roughly
@keyframes moveInRightRough {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: +1;
    transform: translateX(0rem);
  }
}

// element move right smoothly
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

// element move up from bottom
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

// zoom in zoom out
@keyframes suspension {
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  0% {
    transform: sacle(1);
  }
}

// in-progress animation
@keyframes progress {
  0% {
    background: #f1f0fb;
    box-shadow: 2px 2px 10px #cdccd5, -2px -2px 10px #ffffff;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  100% {
    background: #f1f0fb;
    box-shadow: inset 4px 4px 5px #cdccd5, inset -5px -5px 10px #ffffff;
    overflow-x: hidden;
    transition: all 0.5s;
  }
  0% {
    background: #f1f0fb;
    box-shadow: 2px 2px 10px #cdccd5, -2px -2px 10px #ffffff;
    overflow-x: hidden;
    transition: all 0.5s;
  }
}