// css for base components

/* normalize css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; //1rem =10 px; 10px/16px * 100% = 62.5%

  @include respond(small-desktop) {
    font-size: 58%; //1 rem = 12px;
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px;
  }

  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px;
  }

  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px;
  }
}
body {
  background-color: #f1f0fb;
  // $color-grey-light;
  box-sizing: border-box;
  padding: 0;

  font-family: DM Sans;
}

// for text selection
::selection {
  color: $color-primary;
  background-color: $color-primary-light;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  width: 1rem !important;
  border-radius: 10px;
  // box-shadow: 2px 2px 12px #cccccc, -1px -1px 12px #ddd9d9;
  background: #f1f0fb;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: 2px 2px 12px #cccccc inset, -1px -1px 12px #ddd9d9 inset;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  transition: all 0.3s ease;
  overflow-x: hidden;
  &__body {
    position: relative;
    width: calc(100vw - 10rem);
    height: 100vh;
    transition: all 0.5s;
    padding: 1.5rem 2.5rem;
    margin-left: 11rem;
  }

  button {
    align-content: center;
    background-color: #f1f0fb;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 8px #cdccd5, -5px -5px 8px #fff;
    color: #0072bc;
    display: flex;
    font-size: 1.6rem;
    line-height: 2.1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;

    &:active {
      box-shadow: inset 5px 5px 10px #cdccd58c, inset -5px -5px 10px #ffffffbd;
    }
  }
}
