// css for Job Page
.jobs {
  width: 100%;
  max-height: calc(100vh - 10.5rem);
  grid-template-rows: repeat(auto-fit, minmax(calc(100vh - 10.5rem), 1fr));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2.5rem;
  @include dashboardbody;
  margin-bottom: 0;
}

.job {
  animation: moveInRight 1s ease-in-out;
  height: 100%;
  padding-top: 1.5rem;
  overflow-x: hidden;
  transition: all 0.5s;

  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 2.6rem;

    h3 {
      left: 0;
      display: inline-block;
      padding: 0.4rem 0rem;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: 700;
    }

    svg {
      right: 0;
    }
  }
  &__status-list {
    grid-row-gap: 1.2rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #fff,
      inset -0.2rem -0.2rem 0.5rem rgb(195 193 198 / 90%),
      0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%), -0.2rem -0.2rem 0.4rem #fff;
    border-radius: 8px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 2rem;
    min-height: 8.7rem;
    margin: 1.6rem 0;
    position: relative;
    gap: 1.2rem;

    &:not(:first-of-type) {
      margin-top: 2.6rem;
    }
    &:first-of-type {
      margin-top: 0rem;
    }

    // &:not(:last-of-type):after {
    //   content: '';
    //   width: 92%;
    //   height: 2px;
    //   margin: 0px 4%;
    //   position: absolute;
    //   background: #e3e3e3;
    //   bottom: -8px;
    // }
    &--priority[tool='false'] {
      fill: #fff;
      width: 1.2rem;
      height: 1.2rem;
      animation: glowRED 1s ease-in-out infinite alternate;
    }
    &--priority[tool='true'] {
      fill: #fff;
      width: 1.2rem;
      height: 1.2rem;
      animation: glowGreen 1s ease-in-out infinite alternate;
    }

    &--priority,
    &--text {
      align-self: center;
      // justify-self: start;
      margin-right: 1rem;
      grid-row: 1/-1;
    }

    &--text {
      display: block;
      width: 90%;

      p {
        margin-top: 1rem;
      }
    }

    &--delete-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 2.5px;
      align-items: center;
      cursor: pointer;
      justify-items: end;
      // svg:nth-child(even) {
      //   justify-self: start;
      // }
    }

    // &--delete,
    // &--info {
    //   display: none;
    // }

    // &:hover &--delete,
    // &:hover &--info {
    //   display: block;
    // }

    &--to-do,
    &--progress,
    &--done {
      max-height: calc(100% - 5.5rem);
      overflow-y: auto;
      padding-right: 0.8rem;
    }

    &--to-do {
      color: $color-grey-dark;

      .job__status-list {
        cursor: move;
        grid-template-columns: 1fr 1fr 1fr !important;

        &--text {
          justify-self: baseline;
        }

        &--delete-info {
          align-items: center;
        }
      }
    }
    &--progress {
      color: $color-primary-dark;
    }
    &--done {
      color: $color-secondary;
    }
  }

  &__status-add {
    margin-top: 2rem;
  }
}

.Progress_Status {
  width: 110%;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ddd;
  border-radius: 15px;
  position: relative;
  height: 1rem;
}

.myprogressBar {
  width: 1%;
  height: 1rem;
  border-radius: 15px;
  background-color: #0072bc;
}

.myprogressText {
  color: #0072bc;
  background: transparent;
  font-size: 1.4rem;
  padding: 0 1rem;
  line-height: 1.5rem;
  right: -5rem;
  top: -0.25rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}
