// css for Sidebar Navigation
.navigation {
  animation: moveInLeft 1s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 2px;
  transition: 1s;
  @include respond(tab-port) {
    transform: translate(-500%, 0);
    transition: 0.3s transform ease;
  }

  &__nav {
    list-style: none;
    width: 100%;

    #auto-detect:checked ~ &--btn .off {
      display: block !important;
    }
    #auto-detect:checked ~ &--btn .on {
      display: none;
    }
    #auto-detect:checked ~ &--btn span {
      color: #747474;
    }

    li {
      position: relative;
      display: flex;
      position: relative;
      width: 5rem;
      height: 5rem;
      white-space: nowrap;
      transition: color, transform 0.45s ease-in-out;
      &:not(:last-child) {
        margin-top: 0.2rem;
        margin-bottom: 1rem;
      }

      span {
        margin-left: 1rem;
        transition: all 0.5s;
      }

      svg {
        fill: $color-primary;
        stroke-width: 1.5px;
      }

      svg.off {
        display: none;
      }
    }

    &--elements,
    &--btn {
      position: relative;
      color: inherit;
      display: flex;
      text-decoration: none;
      flex-wrap: nowrap;
      align-items: center;
      width: -moz-fit-content;
      width: 100%;
      padding: 0.5rem 1rem;
      height: 100%;
      cursor: pointer;
      border-radius: 10px;
      background: #f1f0fb;
      justify-content: flex-start;

      &.active {
        color: $color-primary;
        box-shadow: inset 5px 5px 10px #cdccd5, inset -5px -5px 10px #ffffff;
      }

      &:hover {
        color: $color-primary;
        text-align: center;
        box-shadow: 5px 5px 10px #cdccd5, -5px -5px 10px #ffffff;
      }

      &:active {
        box-shadow: inset 5px 5px 10px #cdccd5, inset -5px -5px 10px #ffffff;
      }

      &#Collapse svg {
        transition: 0.5s;
        border-radius: 50%;
        transform: rotate(0deg);
      }
      &#Collapse[rotate] svg {
        transform: rotate(180deg);
      }
    }
  }

  [nav-collapse="1"] {
    display: block;

    svg {
      vertical-align: middle;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    span {
      transform: translateX(20rem);
      position: absolute;
      height: 0;
    }
  }
}
