// css for sidebar
.sidebar {
  left: 2rem;
  display: inline-block;
  width: 8rem;
  top: 50vh;
  padding: 8px 10px;
  transform: translate(0, -50%);
  position: relative;
  min-height: 95vh;
  z-index: 2;
  border-radius: 10px;
  background: #f1f0fb;

  box-shadow: -0.3rem -0.3rem 0.5rem rgba(195, 193, 198, 0.9),
    0.2rem 0.2rem 0.4rem #fff;
  overflow-x: hidden;
  transition: all 0.5s;
  position: fixed;

  .logo-hide,
  h1.logo-hide,
  .logo-hide span {
    transition: all 0.5s;
  }
  h1.logo-hide[hide],
  .logo-hide[hide] span {
    transform: translateX(20rem);
    display: block;
    position: absolute;
  }
  .logo-hide[hide] {
    flex-direction: column;
    img {
      width: 4.2rem;
      height: 4.2rem;
    }
  }
  &__top {
    margin: 0 -0.5rem;
    margin-bottom: 2rem;
  }

  &__logo-box {
    display: block;
    letter-spacing: 0.5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    user-select: none;
  }

  &__logo {
    text-align: center;
    color: $color-primary;
    transition: font-size 0.5s;

    font-size: 3rem;
    line-height: 2.5rem;

    &--blackbox {
      display: flex;
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      padding-bottom: 0.5rem;
      gap: 1rem;
      color: #0072bc;
      transition: all 0.5s;
      text-transform: uppercase;
      img {
        transition: all 0.5s;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .line {
    height: 1px;
    background-color: #f1f0fb;
    margin: 1rem 0 2rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #fff,
      inset -0.2rem -0.2rem 0.5rem rgb(195 193 198 / 90%),
      0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%), -0.2rem -0.2rem 0.4rem #fff;
  }

  &__bottom {
    display: flex;
    justify-content: left;
    position: absolute;
    margin: 1rem 0;
    border-radius: 8px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 5rem;
    padding: 0.5rem 1.5rem;
    align-items: center;
    align-content: center;

    &:hover {
      color: $color-primary;
      border-radius: 50px 0 0 50px;
      text-align: center;
      border-radius: 10px;
      background: #f1f0fb;
      box-shadow: 5px 5px 10px #cdccd5, -5px -5px 10px #ffffff;
    }

    &:active {
      box-shadow: inset 5px 5px 10px #cdccd5, inset -5px -5px 10px #ffffff;
    }

    &[hide] {
      width: 5rem;
      display: block;
      svg {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    span {
      margin-left: 1rem;
      font-size: 1.8rem;
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    align-items: center;
    gap: 0.1rem;

    &--name {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
    }

    &--pic {
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      display: flex;
      padding: 0.5rem;
      transition: font-size 0.5s;
    }

    &[hide] .sidebar__user--name {
      transform: translateX(20rem);
      position: absolute;
      height: 0;
    }

    &--name {
      font-size: 1.8rem;
      width: max-content;
    }
    &--user-position {
      font-size: 1.2rem;
    }
  }
}

.toggle {
  z-index: 99;
  left: 10rem;
  top: 57px;
  transform: translate(-50%, 0);
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  box-shadow: 4px -1px 8px #cdccd5;
  box-shadow: 0.4rem 0rem 0.3rem rgb(195 193 198 / 90%),
    -0.2rem -2.2rem 0.4rem transparent;
  box-shadow: -0.3rem -0.3rem 0.5rem transparent, 0.2rem 0.2rem 0.4rem #fff;
  border-radius: 50%;
  background: #f1f0fb;
  transition: all 0.5s;

  &:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem rgb(195 193 198 / 90%),
      inset -0.2rem -0.2rem 0.5rem #fff,
      0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%), -0.2rem -0.2rem 0.4rem #fff;
  }
}
.toggle span {
  position: absolute;
  width: 1rem;
  height: 0.25rem;
  border-radius: 4px;
  background-color: #0072bc;
  transition: 0.65s;
}
.toggle span:nth-child(1) {
  transform: translateY(-8px);
  width: 2rem;
}
.toggle.active {
  margin: 1rem 0;
  left: 24rem;
  position: absolute;
  transform: translateX(-100%);
}
.toggle.active span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  width: 2rem;
  left: 10px;
}
.toggle span:nth-child(2) {
  transform: translateY(8px);
  width: 2rem;
}
.toggle.active span:nth-child(2) {
  transform: translateY(0) rotate(315deg);
  width: 2rem;
  left: 10px;
}

.toggle span:nth-child(3) {
  right: 10px;
}

.toggle.active span:nth-child(3) {
  transform: translateX(-60rem);
}
