
// css for sidebar
.sidebar {
  left: 2rem;
  display: inline-block;
  // margin-right: -2.5vh;
  width: 8rem;
  top: 50vh;
  padding: 8px 10px;
  transform: translate(0, -50%);
  position: relative;
  min-height: 95vh;
  z-index: 2;
  border-radius: 10px;
  background: #f1f0fb;
  box-shadow: 2px 2px 12px #cccccc, -1px -1px 12px #ddd9d9;
  overflow-x: hidden;
  transition: all 0.5s;

  &__logo{
    text-align: center;
    color: $color-primary;  
    transition: 0.5s;  
    letter-spacing: -2.5px;

  }
  &__logo[collapse]{
    font-size: 0;
    &:first-letter {  
      font-size: 3.2rem;
    }
  }
  
   
  
  .line {
    height: 1px;
    background-color: #e3e3e3;
    margin-top: 2rem;

    &:first-of-type{
      margin-top:0.5rem ;
    }
  }

  

  @include respond(tab-port) {
    top: 8rem;
    position: fixed;
    width: 0rem;
  }
}



.toggle{
  left: 100%;
  transform: translate(-100%,0);
  position: relative;
  width: 4rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
.toggle span{
  position: absolute;
  width: 2rem;
  height: .25rem;
  border-radius: 4px;
  background-color: #1863ff;
  transition: 0.5s;
}
.toggle span:nth-child(1){
  transform: translateY(-8px);
  width: 2.5rem;
  left: 5px;
}
.toggle.active span:nth-child(1){
  transform: translateY(0) rotate(45deg);
  width: 4rem;
}
.toggle span:nth-child(2){
  transform: translateY(8px);
  width: 2.5rem;
  left: 4px;
}
.toggle.active span:nth-child(2){
  transform: translateY(0) rotate(315deg);
  width: 4rem;
}
.toggle.active span:nth-child(3){
  transform: translateX(-60px);
}
